*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #ff8b98;  
}

/* nav bar*/
nav{
    height: 50px;
    width: 90vw;
    margin-left: 70px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo>h1{
    color: white;
    text-shadow: 10px 10px 20px whitesmoke;
    padding-left: 250px;
}

.nav-buttons{
    margin-right: 250px;
}

.nav-buttons>button{
    border: 2px solid white;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: bolder;
}

.nav-buttons>button:hover{
    background-color: white;
    color: #ff8b98;
    cursor: pointer;
}

/*container */
.container{
    height: 87vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.image-holder1>img,.image-holder2>img{
    margin-bottom: 180px;
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.form-holder{
    height: 300px;
    width: 430px;
    margin-top: 100px;
    border-radius: 10%;
    background-color: white;
}

.form-items{
    width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 12px;
}

.form-items>label{
    padding-bottom: 5px;
    background-color: white;
}

.form-items>input{
    width: 300px;
    height: 30px;
    border: 2px solid #ff8b98;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.form-items>input:hover{
    border: 2px solid black;
    color: black;
}

.form-items>button{
    height: 30px;
    width: 150px;
    padding: 5px;
    background-color: #ff8b98;
    border: #cfcefa;
    text-align: center;
    border-radius: 20px;
    margin-top: 15px;
    color: white;
}

.form-items>button:hover{
    /* background-color: #f7c547; */
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

.form-items:first-child{
    margin-top: 7px;
    margin-bottom: 6px;
}


